@page
@model Lab4.Pages.Cards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated) 
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].RemoteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Card) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RemoteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if(!string.IsNullOrEmpty(item.Picture)) {
                    <a href="@Html.DisplayFor(modelItem => item.Picture)" target="_blank">
                        <img src="@Html.DisplayFor(modelItem => item.Picture)?h=150" />
                    </a>
                }
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.CardId">Details</a>
                @if (User.Identity.IsAuthenticated) 
                {
                    <span>&#124;</span> <a asp-page="./Edit" asp-route-id="@item.CardId">Edit</a>
                    <span>&#124;</span> <a asp-page="./Delete" asp-route-id="@item.CardId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
